<header class="sticky top-0 bg-white z-50 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-4">
      <h1
        routerLink="/"
        class="text-2xl font-bold text-gray-900 cursor-pointer"
      >
        EasyShop
      </h1>
      <nav class="flex items-center gap-4">
        <a
          routerLink="/orders"
          class="bg-gray-100 text-gray-700 hover:text-blue-600 font-semibold px-4 py-2 rounded-lg hover:bg-blue-100 transition duration-200 ease-in-out"
        >
          Orders ({{ ordersService.getTotalQuantity() }})
        </a>
        <!-- Show logout button if store.user() exists -->
        <!-- @if (store.user()) {
          } -->
        <button
          class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-red-600 transition duration-200 ease-in-out"
          (click)="onLogOut()"
        >
          Logout
        </button>
      </nav>
    </div>
  </div>
</header>
